@charset "UTF-8";
/* CSS Document */

body{
	 background:linear-gradient(2deg, #08511E, #18F51D, #7BF2A4, #BDF8D3); 
	background-size: cover;


}

h1{
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    font-style: normal;
	font-size: 36px;
	}

p {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    line-height: 27px;
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;	
}

p1 {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
	display: block;
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    text-indent: 10%;
    text-align: left;
    line-height: 27px;
}


a {
    color: #000000;
	text-decoration: underline;
}

a:link {
	color: #000000;
	text-decoration: underline;
	
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:focus {
	color:#FBE806; 
	text-decoration: none;
}
a:hover {
	color:#04FBEE; 
	text-decoration: underline;
}
a:active {
    text-decoration: none;	
}

bold{
    text-transform: uppercase;
    font-weight: 5000;
}