@charset "UTF-8";
/* CSS Document */

body{
	 background-image: url("../img/fond eau 2.jpg");
	background-size: cover;
}


.page{
	margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
	position: absolute;

}


.fondeau{
	position: absolute;
	width: 100%;
	height: auto;
	object-position: center;
}

.text{
	z-index: 1;
   	top: 100px;
	left: 10%;
	right: 10%;
	bottom: 10px;
	padding-bottom: 1000;	
    position: relative;
   	width: 85%;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 1;
}


p {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 2px 2px 4px #f4dbb8;
	color:#534fb8;
	display: block;
	z-index: 2;

}


p3 {
  font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
  font-size: 32px;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  text-shadow: 2px 2px 4px #f4dbb8;
  text-transform: uppercase;
color:#534fb8;
display: block;
z-index: 2;

}


a {
    color: #000000;
	text-decoration: underline;
}

a:link {
	color: #000000;
	text-decoration: underline;
	
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:focus {
	color:#FBE806; 
	text-decoration: none;
}
a:hover {
	color:#04FBEE; 
	text-decoration: underline;
}
a:active {
    text-decoration: none;	
}


#box {
  width: 300px;
  height: 300px;
  overflow: visible;
  z-index: 0;
}


p1 {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 64px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 4px -0.7px 2px #F9ACE5;
    color: #B9F739;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 9px;
    word-spacing: 10px;
}

p2{
	font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 64px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 4px 0.3px 2px #abf5b8;
    color:#FA6365;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 9px;
    word-spacing: 10px;
	z-index: 0;
}




.bandeaudefillant{  
	animation-duration: 20s;
  	animation-name: slidein;
	animation-direction:normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: none;
	position: absolute;

	opacity: 1.2;
	z-index: 0;
}


@keyframes slidein {
  from {
    margin-right: 0%;
			margin-left: 100%;
				width:500px; 
  }

  to {
    margin-left: -350%;
	  margin-right: 100%;
    width: 500px;
  }
}


/* GLITCH EFFECT
***********************/
.glitch {
	-webkit-animation: glitch1 2.5s infinite;
	animation: glitch1 2.5s infinite;
}
span.glitch { -webkit-animation: glitch2 1.25s infinite; animation: glitch2 1.25s infinite; }
@-webkit-keyframes glitch1 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.5deg, -0.9deg); transform: skew(-0.5deg, -0.9deg); opacity: 0.75; }
  10% {  -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.8deg, -0.1deg); transform: skew(0.8deg, -0.1deg); opacity: 0.75; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-1deg, 0.2deg); transform: skew(-1deg, 0.2deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.4deg, 1deg); transform: skew(0.4deg, 1deg); opacity: 0.75; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}
@keyframes glitch1 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.5deg, -0.9deg); transform: skew(-0.5deg, -0.9deg); opacity: 0.75; }
  10% { -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.8deg, -0.1deg); transform: skew(0.8deg, -0.1deg); opacity: 0.75; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-1deg, 0.2deg); transform: skew(-1deg, 0.2deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.4deg, 1deg); transform: skew(0.4deg, 1deg); opacity: 0.75; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}
@-webkit-keyframes glitch2 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.7deg, -5deg); transform: skew(-0.7deg, -5deg); opacity: 0.75; }
  10% {  -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.6deg, -0.2deg); transform: skew(0.6deg, -0.2deg); opacity: 0.5; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-45deg, 5deg); transform: skew(-45deg, 5deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.5deg, 12deg); transform: skew(0.5deg, 12deg); opacity: 0.25; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}
@keyframes glitch2 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.7deg, -5deg); transform: skew(-0.7deg, -5deg); opacity: 0.75; }
  10% {  -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.6deg, -0.2deg); transform: skew(0.6deg, -0.2deg); opacity: 0.5; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-15deg, 0.5deg); transform: skew(-15deg, 0.5deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.5deg, 12deg); transform: skew(0.5deg, 12deg); opacity: 0.25; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}



