@charset "UTF-8";
/* CSS Document */

body{
	 background-color: #D39B9C;
	background-size: cover;
}

.page{
    overflow-x: hidden;
    cursor: url('../img/tranchedejambonsurpaindemie.png'), auto;
}

h1{
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    font-style: normal;
    font-size: 22px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	}



h2{
    text-decoration: underline;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #002839;
    line-height: 23px;
    word-spacing: 5px;
    white-space: normal;
    margin-left: 43px;
    font-weight: normal;
	}

p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    color:#01354B;
    line-height: 23px;
    word-spacing: 5px;
    white-space: normal;
    margin-left: 43px;
    margin-right: 43px;
}

p1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    display: block;
    font-size: 20px;
    text-indent: 5%;
    text-align: justify;
    color: #01354B;
    line-height: 23px;
    word-spacing: 5px;
    white-space: normal;
    margin-left: 43px;
    margin-right: 43px;
  
}


a {
    color: #000000;
	text-decoration: underline;
}

a:link {
	color: #000000;
	text-decoration: underline;
	
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:focus {
	color:#FBE806; 
	text-decoration: none;
}
a:hover {
	color:#04FBEE; 
	text-decoration: underline;
}
a:active {
    text-decoration: none;	
}

.encart{
    width: 600px;
    height: 300px;
  	display: block;
	float: right;
    overflow-y: scroll;
    background-image: url("../img/supermarche - rayon jambon blanc.jpg");
    background-size: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
	}

#gradient {
  border: 5px solid;
  border-image: linear-gradient(49deg, #B016F6, #CAA3EC, #CBFB0F, #F3F956) 20;
	padding: none;
	
}

p3{
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    display: block;
    font-size: 30px;
    font-weight: bolder;
    text-indent: 5%;
    text-align: justify;
    color: #B016F6;
    line-height: 35px;
    word-spacing: 5px;
    white-space: normal;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    text-shadow: -2px 2px 0.4px #F0F80C;
}


p4{
    text-align: center;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
	white-space: normal;
}

.bold{
    font-weight: 400;
    text-transform: uppercase;
	text-align: center;
}


bold{
    font-weight: bolder;
    text-transform:uppercase; 
	letter-spacing: 6px;
}

.italic{
	font-style: italic;
}

p2 {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 22px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 0.3px 0.3px 2px #F9ACE5;
    color: #B9F739;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 4px;
	z-index: 0;
}


.bandeaudefillant{
    animation-duration: 45s;
    animation-name: slidein;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}





.bandeaudefillant2{  
	animation-duration: 15s;
  	animation-name: slidein;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: none;
	position: relative;
	display: inline-block;
	opacity: 0.6;
	top: 0px;
}
@keyframes slidein {
  from {
    margin-right: 0%;
	  margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: -100%;
	  margin-right: 100%;
    width: 100%;
  }
}

.formesouri{
    cursor: help;
}