@charset "UTF-8";
/* CSS Document */

body{
	background-image: url("../img/Fond eau - saumure copie.png");
	background-size: contain;
}

.page{
    position: relative;
    left: 100;
    right: 100;
    top: 10;
    bottom: 400;
    overflow-y: scroll;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 400px;
}


p {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 4px 4px 10px #02006A;
	color:#F913CA;	
	line-height: 50px;
	letter-spacing: 0.7px;
	word-spacing: 2px;

}



a {
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 0.7px 0.7px 10px #000000;
	color:#F913CA;	
	line-height: 50px;
	text-decoration: underline;
}

a:link {
	font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 0.7px 0.7px 10px #000000;
	color:#F913CA;	
	line-height: 50px;
	text-decoration: underline;
	letter-spacing: 0.7px;
	word-spacing: 2px;
	
}
a:visited {
	font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    font-size: 32px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    text-shadow: 0.7px 0.7px 10px #000000;
	color:#F913CA;	
	line-height: 50px;
	text-decoration: none;
	letter-spacing: 0.7px;
	word-spacing: 2px;
}
a:focus {
	color:#FBE806; 
	text-decoration: none;
}
a:hover {
	color:#04FBEE; 
	text-decoration: underline;
}
a:active {
    text-decoration: none;	
}

.encart2{
    width: 700px;
    height: 700px;
  	display: block;
	float: right;
    overflow-y: scroll;
    background-size: 100%;
	background-color: #000000;
	}


#gradient2 {
  border: 5px solid;
  border-image: linear-gradient(49deg, #B016F6, #CAA3EC, #CBFB0F, #F3F956) 20;
  padding: none;
}

bold{
    font-weight: bolder;
    text-transform:uppercase; 
	letter-spacing: 6px;
}





/* GLITCH EFFECT
***********************/
.glitch {
	-webkit-animation: glitch1 2.5s infinite;
	animation: glitch1 2.5s infinite;
}
span.glitch { -webkit-animation: glitch2 1.25s infinite; animation: glitch2 1.25s infinite; }
@-webkit-keyframes glitch1 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.5deg, -0.9deg); transform: skew(-0.5deg, -0.9deg); opacity: 0.75; }
  10% {  -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.8deg, -0.1deg); transform: skew(0.8deg, -0.1deg); opacity: 0.75; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-1deg, 0.2deg); transform: skew(-1deg, 0.2deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.4deg, 1deg); transform: skew(0.4deg, 1deg); opacity: 0.75; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}
@keyframes glitch1 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.5deg, -0.9deg); transform: skew(-0.5deg, -0.9deg); opacity: 0.75; }
  10% { -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.8deg, -0.1deg); transform: skew(0.8deg, -0.1deg); opacity: 0.75; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-1deg, 0.2deg); transform: skew(-1deg, 0.2deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.4deg, 1deg); transform: skew(0.4deg, 1deg); opacity: 0.75; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}
@-webkit-keyframes glitch2 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.7deg, -5deg); transform: skew(-0.7deg, -5deg); opacity: 0.75; }
  10% {  -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.6deg, -0.2deg); transform: skew(0.6deg, -0.2deg); opacity: 0.5; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-45deg, 5deg); transform: skew(-45deg, 5deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.5deg, 12deg); transform: skew(0.5deg, 12deg); opacity: 0.25; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}
@keyframes glitch2 {
  0% { -webkit-transform: none; transform: none; opacity: 1; }
  7% { -webkit-transform: skew(-0.7deg, -5deg); transform: skew(-0.7deg, -5deg); opacity: 0.75; }
  10% {  -webkit-transform: none; transform: none; opacity: 1; }
  27% { -webkit-transform: none; transform: none; opacity: 1; }
  30% { -webkit-transform: skew(0.6deg, -0.2deg); transform: skew(0.6deg, -0.2deg); opacity: 0.5; }
  35% { -webkit-transform: none; transform: none; opacity: 1; }
  52% { -webkit-transform: none; transform: none; opacity: 1; }
  55% { -webkit-transform: skew(-15deg, 0.5deg); transform: skew(-15deg, 0.5deg); opacity: 0.75; }
  50% { -webkit-transform: none; transform: none; opacity: 1; }
  72% { -webkit-transform: none; transform: none; opacity: 1; }
  75% { -webkit-transform: skew(0.5deg, 12deg); transform: skew(0.5deg, 12deg); opacity: 0.25; }
  80% { -webkit-transform: none; transform: none; opacity: 1; }
  100% { -webkit-transform: none; transform: none; opacity: 1; }
}


