@charset "UTF-8";
/* CSS Document */

body{
	 background-color:#A6E0F9; 
	background-size: cover;
}

.page{
	overflow-x: hidden;
}


h1{
    font-weight:lighter;
    text-align: center;
    font-style: normal;
    font-size: 32px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	}



h2{
    text-decoration: underline;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #002839;
    line-height: 23px;
    word-spacing: 5px;
    white-space: normal;
    margin-left: 43px;
    font-weight: normal;
	}


p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    color:#01354B;
    line-height: 23px;
    word-spacing: 5px;
    white-space: normal;
    margin-left: 43px;
}


p1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    display: block;
    font-size: 20px;
    text-indent: 5%;
    text-align: left;
    color: #01354B;
    line-height: 23px;
    word-spacing: 5px;
    white-space: normal;
    margin-left: 43px;
    margin-right: 30px;
}



a {
    color: #000000;
	text-decoration: underline;
}

a:link {
	color: #000000;
	text-decoration: underline;
	
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:focus {
	color:#FBE806; 
	text-decoration: none;
}
a:hover {
	color:#04FBEE; 
	text-decoration: underline;
}
a:active {
    text-decoration: none;	
}


.encart{
    width: 600px;
    height: 300px;
    display: block;
	float: right;
    overflow-y: scroll;
    background-image: url("../img/supermarche - rayon jambon blanc.jpg");
    background-size: 100%;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
	}


#gradient {
  border: 5px solid;
  border-image: linear-gradient(49deg, #B016F6, #CAA3EC, #CBFB0F, #F3F956) 20;
	padding: none;	
}


p3{
    font-family: "Nimbus Sans L", "Nimbus Sans L Bold", "Nimbus Sans L Bold Italic", "Nimbus Sans L Regular Italic";
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-indent: 5%;
    text-align: justify;
    color: #ECD900;
    line-height: 35px;
    word-spacing: 3px;
    word-break:normal;
	hyphens: auto;
	
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    text-shadow: -4px 4px 1px #5902A4;

}


.bold{
    font-weight: 400;
    text-transform: uppercase;
	text-align: center;
}


.bandeaudefillant{
  	animation-duration: 25s;
  	animation-name: slidein;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    animation-fill-mode: none;
}


@keyframes slidein {
  from {
    margin-right: 0%;
     margin-left: 0%;
     width: 100%; 
  }

  to {
    margin-left: -80%;
	  margin-right: 0%;
    width: 100%;
  }
}